*, *::after, *::before {
	box-sizing: border-box;
}

h1, h2, h3, h4{
	font-family: 'Lora', serif;
	
}

h1, h2{
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

h3{
	font-weight: bold;
	letter-spacing: 0.1em;
	text-decoration: underline;
}

h4{
	font-size: 0.9em;
}

p, ol, ul{
	font-family: 'Crimson Text', serif;
	font-size: 0.9em;
	color: #393B39;
}

a{
	font-family: 'Crimson Text', serif;
	font-size: 0.9em;
	text-decoration: none;
	color: #213040;
	transition: color 0.2s;
}

a:active, a:hover, a:focus{
	color: #77ADE5;
	text-decoration: underline;
}

button{
	background-color: #213040;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Crimson Text";
    font-size: 0.6em;
    letter-spacing: 0.15em;
    transition: background-color 0.2s;
}

button:active, button:hover, button:focus{
	background-color: #77ADE5;
}

/* --- NAV BAR --- */

.navbar_margin ul {
    list-style-type: none;
    margin-left: -9px;
    margin-right: -8px;
    margin-top:-9px;
    padding-left:150px;
    overflow: hidden;
    background-color: rgba(0,0,0,.45);
}

.navbar_li {
    float: left;
}

.navbar_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
	font-size:19px;
}

.navbar_margin li a:hover:not(.active) {
    background-color: #213040;
}

.navbar_li_logo{
	display:inline;
	float:left;
}

.navbar_logo:active, .navbar_logo:hover, .navbar_logo:focus{
	color:black;
	text-decoration: none;
}

.logo {	
	width: 7rem;
	
}

/* --- FOOTER --- */

.footer_margin{
	position:absolute;
	bottom:0;
	background-color: rgba(0,0,0,.45);
	width:100%;
	height:15%;
	margin-left:-8px;

}
.footer_margin ul{
	
	list-style-type: none;
}

.footer_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
	font-size:19px;
}




/* --- MARGINS + SPACING --- */

.h2_padding{
	padding-top: 5%;
}

.li_spacing{
	padding-bottom: 3%;
}

.paragraph{
	margin-right: 20%;
}

.menu_spacing{
	padding-right: 2%;

}

.navbar_margin{
	width:100%;
	
}

.footer_margin{
	
	
}

.body_margin{
	padding-top:20px;
	padding-left:200px;
	padding-right:200px;
	/* border-style:solid; */
	
}




/* --- FLEXBOX / GRIDS --- */


.box{
	display: flex;
	/*border-style:solid;*/
	/*border-color:red;*/
	
}

.color_item{
	width: 33%;
	padding: 1rem 2rem 1rem 2rem;
}

.img_item{
	width: 40%;
}

.info_item{
	width: 60%;
	padding-bottom: 2rem;
}

.type_item{
	width: 50%;
	padding-bottom: 3rem;
	padding-right: 5rem;
	/*border-style:solid;*/
}

.item_h3{
	
	/*text-align:center;*/
	border-bottom: .2px solid;
	text-decoration: none;
}

.service_item{
	width: 33%;
	padding-right: 2rem;
	padding-bottom: 3rem;
}

/* --- EXAMPLE CODE ---- */
.nav_box{
	display: flex;
	flex-direction: column;
	width: 30%;
}

.nav_item{
	padding: 0.75rem 2rem 0 0;
}

.thumbnail{
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.img_width{
	width: 90%;
}

.img_small_width{
	width: 50%;
}

.cancel_button{
	background-color: #919191;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Crimson Text";
    font-size: 0.6em;
    letter-spacing: 0.15em;
    transition: background-color 0.2s;
}

.cancel_button:active, .cancel_button:hover, .cancel_button:focus{
	/*background-color: #EF2929;  - mandy's original colour*/ 
	background-color: #BF3C12;
	
}

.social_media{
	background-color: #213040;
	transition: background-color 0.4s;
	width: 100px;
	height: 100px;
	margin-bottom: 5%;
}

.social_media:active, .social_media:hover, .social_media:focus{
	background-color: #77ADE5;
}

.label_example{
	color: #213040;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	font-size: 0.8rem;
}

input[type=text], select {
    width: 70%;
    padding: 0.5rem 1rem;
    border: 1px solid #77ADE5;
}

.checkboxes{
	margin: 0;
}

.submit_button{
	background-color: #213040;
	padding: 1rem 3rem 1rem 3rem;
	color: white;
	text-transform: uppercase;
	font-family: "Crimson Text";
	font-size: 0.8em;
	letter-spacing: 0.15em;
}

.reset_button{
	background-color: #919191;
	padding: 1rem 3rem 1rem 3rem;
	color: white;
	text-transform: uppercase;
	font-family: "Crimson Text";
	font-size: 0.8em;
	letter-spacing: 0.15em;
}